@{
    ViewBag.Title = "Documents";
}
<div class="col_12">
    <h4 style="margin-top: 0px;">
        Document</h4>
    <div>
        <h6 class="bold">
            <i class="icon-globe"></i>&nbsp;Browser Support</h6>
        <div class="work-content">
            <p>
                Internet Explorer 9+, Firefox, Opera, Chrome, and Safari support the <code>&lt;video&gt;</code>
                and <code>&lt;audio&gt;</code> element.</p>
            <p>
                <b>Note:</b> Internet Explorer 8 and earlier versions, do not support the <code>&lt;video&gt;</code>
                and <code>&lt;audio&gt;</code> element.</p>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <h6 class="bold">
            <i class="icon-cogs"></i>&nbsp;Video Formats and Browser Support</h6>
        <div class="work-content">
            <p>
                Currently, there are 3 supported video formats for the <code>&lt;video&gt;</code>
                element: MP4, WebM, and Ogg:</p>
            <ul class="alt">
                <li><b>MP4</b> = MPEG 4 files with H264 video codec and AAC audio codec</li>
                <li><b>WebM</b> = WebM files with VP8 video codec and Vorbis audio codec</li>
                <li><b>Ogg</b> = Ogg files with Theora video codec and Vorbis audio codec</li>
            </ul>
            <table class="striped">
                <thead>
                    <tr>
                        <th width="25%">
                            Browser
                        </th>
                        <th width="25%">
                            MP4 H.264
                        </th>
                        <th width="25%">
                            WebM
                        </th>
                        <th width="25%">
                            Ogg
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Internet Explorer 9+
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chrome 6+
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Firefox 3.6+
                        </td>
                        <td>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Safari 5+
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Opera 10.6+
                        </td>
                        <td>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <h6 class="bold">
            <i class="icon-cog"></i>&nbsp;Video Options</h6>
        <div class="work-content">
            <table class="striped" id="docs-options-table">
                <thead>
                    <tr>
                        <th>
                            Attribute
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Default
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            HasControls
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            true
                        </td>
                        <td>
                            Specifies that video controls should be displayed (such as a play/pause button etc).
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasPoster
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Specifies an image to be shown while the video is downloading, or until the user
                            hits the play button
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasLoop
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Specifies if and how the author thinks the video should be loaded when the page
                            loads
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasMuted
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Specifies that the audio output of the video should be muted
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasAutoplay
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Specifies that the video will start playing as soon as it is ready
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasPreload
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            true
                        </td>
                        <td>
                            Specifies video should be loaded when the page loads.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PosterUrl
                        </td>
                        <td>
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            Specifies an image to be shown while the video is downloading, or until the user
                            hits the play button
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mp4Url
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                        </td>
                        <td>
                            Specifies the mp4 URL of the audio file
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WebmUrl
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                        </td>
                        <td>
                            Specifies the webm URL of the audio file
                        </td>
                    </tr>
                    <tr>
                        <td>
                            OggUrl
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                        </td>
                        <td>
                            Specifies the ogg URL of the audio file
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VideoNotSupported
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                        </td>
                        <td>
                            Specifies Your browser does not support the video element
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasDownloadLink
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Set download link available
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TrackEnable
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            This element is used to specify subtitles, caption files or other files containing
                            text, that should be visible when the media is playing.
                            <br />
                            <b>Note (Browser Support): </b>The <code>&lt;track&gt;</code> tag is supported in
                            Internet Explorer 10, Opera, and Chrome.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <h6 class="bold">
            <i class="icon-reorder"></i>&nbsp;HTML Structure</h6>
        <div class="work-content">
            <pre>
&lt;video controls poster=&quot;http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg&quot; width=&quot;640&quot; height=&quot;360&quot;&gt;
	&lt;source src=&quot;http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4&quot; type=&quot;video/mp4&quot; /&gt;
	&lt;source src=&quot;http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm&quot; type=&quot;video/webm&quot; /&gt;
	&lt;source src=&quot;http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv&quot; type=&quot;video/ogg&quot; /&gt;
&lt;/video&gt;
&lt;p&gt;
	&lt;strong&gt;Download video:&lt;/strong&gt; &lt;a href=&quot;http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4&quot;&gt;MP4 format&lt;/a&gt; | &lt;a href=&quot;http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv&quot;&gt;Ogg format&lt;/a&gt; | &lt;a href=&quot;http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm&quot;&gt;WebM format&lt;/a&gt;
&lt;/p&gt;</pre>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <h6 class="bold">
            <i class="icon-facetime-video"></i>&nbsp;MIME Types for Video Formats</h6>
        <div class="work-content">
            <table class="striped">
                <thead>
                    <tr>
                        <th width="50%">
                            Format
                        </th>
                        <th width="50%">
                            MIME-type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            MP4
                        </td>
                        <td>
                            video/mp4
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WebM
                        </td>
                        <td>
                            video/webm
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ogg
                        </td>
                        <td>
                            video/ogg
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h6>
                    Add a MIME type in IIS</h6>
                <ol>
                    <li>Open IIS Manager and navigate to the level you want to manage. For information about
                        opening IIS Manager. </li>
                    <li>In <strong>Features View</strong>, double-click <strong>MIME Types</strong>.
                    </li>
                    <li>In the <strong>Actions</strong> pane, click <strong>Add.</strong> </li>
                    <li>In the <strong>Add MIME Type</strong> dialog box, type a file name extension in
                        the <strong>File name extension</strong> text box. For example, type <strong>.mp4</strong>.
                    </li>
                    <li>Type a MIME type in the <strong>MIME type</strong> text box. For example, type <strong>
                        video/mp4</strong>. </li>
                    <li>Click <strong>OK</strong>. </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <h6 class="bold">
            <i class="icon-cogs"></i>&nbsp;Audio Formats and Browser Support</h6>
        <div class="work-content">
            <p>
                Currently, there are 3 supported video formats for the <code>&lt;audio&gt;</code>
                element: MP3, Ogg, and Wav:</p>
            <table class="striped">
                <thead>
                    <tr>
                        <th width="25%" align="left">
                            Browser
                        </th>
                        <th width="25%" align="left">
                            MP3
                        </th>
                        <th width="25%" align="left">
                            Wav
                        </th>
                        <th width="25%" align="left">
                            Ogg
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Internet Explorer 9+
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chrome 6+
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Firefox 3.6+
                        </td>
                        <td>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Safari 5+
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Opera 10+
                        </td>
                        <td>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                        <td>
                            <i class="icon-ok green icon-large"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <h6 class="bold">
            <i class="icon-cog"></i>&nbsp;Audio Options</h6>
        <div class="work-content">
            <table class="striped">
                <thead>
                    <tr>
                        <th>
                            Attribute
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Default
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            HasControls
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            true
                        </td>
                        <td>
                            Specifies that audio controls should be displayed (such as a play/pause button etc).
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasLoop
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Specifies that the audio will start over again, every time it is finished
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasMuted
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Specifies that the audio output should be muted
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasAutoplay
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Specifies that the audio will start playing as soon as it is ready
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasPreload
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            true
                        </td>
                        <td>
                            Specifies if and how the author thinks the audio should be loaded when the page
                            loads
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mp3Url
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                        </td>
                        <td>
                            Specifies the mp3 URL of the audio file
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WavUrl
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                        </td>
                        <td>
                            Specifies the wav URL of the audio file
                        </td>
                    </tr>
                    <tr>
                        <td>
                            OggUrl
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                        </td>
                        <td>
                            Specifies the ogg URL of the audio file
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AudioNotSupported
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                        </td>
                        <td>
                            Specifies Your browser does not support the audio element
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HasDownloadLink
                        </td>
                        <td>
                            bool
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Set download link available
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <h6 class="bold">
            <i class="icon-reorder"></i>&nbsp;HTML Structure</h6>
        <div class="work-content">
            <pre>&lt;audio controls preload class=&quot;audio&quot; id=&quot;audio1&quot;&gt;
    &lt;source type=&quot;audio/mpeg&quot; src=&quot;Content/audio/jazz.mp3&quot;/&gt;
    &lt;source type=&quot;audio/ogg&quot; src=&quot;Content/audio/jazz.ogg&quot;/&gt;
    &lt;source type=&quot;audio/wav&quot; src=&quot;Content/audio/jazz.wav&quot;/&gt;
    &lt;p&gt;This browser does not support the audio.&lt;/p&gt;
&lt;/audio&gt;</pre>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div>
        <h6 class="bold">
            <i class="icon-facetime-video"></i>&nbsp;MIME Types for Audio Formats</h6>
        <div class="work-content">
            <table class="striped">
                <thead>
                    <tr>
                        <th width="50%">
                            Format
                        </th>
                        <th width="50%">
                            MIME-type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            MP3
                        </td>
                        <td>
                            audio/mpeg
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Wav
                        </td>
                        <td>
                            audio/wav
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ogg
                        </td>
                        <td>
                            audio/ogg
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h6>
                    Add a MIME type in IIS</h6>
                <ol>
                    <li>Open IIS Manager and navigate to the level you want to manage. For information about
                        opening IIS Manager. </li>
                    <li>In <strong>Features View</strong>, double-click <strong>MIME Types</strong>.
                    </li>
                    <li>In the <strong>Actions</strong> pane, click <strong>Add.</strong> </li>
                    <li>In the <strong>Add MIME Type</strong> dialog box, type a file name extension in
                        the <strong>File name extension</strong> text box. For example, type <strong>.mp3</strong>.
                    </li>
                    <li>Type a MIME type in the <strong>MIME type</strong> text box. For example, type <strong>
                        audio/mpeg</strong>. </li>
                    <li>Click <strong>OK</strong>. </li>
                </ol>
            </div>
        </div>
    </div>
</div>